{% extends "base.html" %}

{% block body_class %}all-typo {% endblock %}

{% block fixed_content %}
    <div class="all-phases">
        
    </div>
{% endblock %}

{% block js_body %}
    {{super()}}

    <script>
        printAllMoonphases();
    </script>
{% endblock %}