<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
  {% block head %}

  <meta charset="utf-8" />
  <meta name="generator" content="Pelican" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta name="description" content="New Moon and Full Moon walks in the forest, an initiative by Anaïs Berck" />
  <link rel="icon" href="{{ THEME_STATIC_DIR }}/css/icon.svg">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/header.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/moon-watch.css" />

  <!-- JS -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tools/jquery-3.6.0.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tools/suncalc.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tools/luxon.min.js"></script>

  {% endblock head %}
</head>

<body class="{% block body_class %}{% endblock %}">

  <header>
    {% include 'partials/nav-menu.html' %}
  </header>

  <section class="grid-display">

    <div class="column-fixed">
      {% block fixed_content %}
      {% endblock %}
    </div>

    {% if (page and page.slug != 'gallery') or not page %}
    <div class="column-scroll">
      {% block scroll_content %}
      {% endblock %}
    </div>
    {% endif %}

  </section>

  <dialog class="footer text-content mono">
    <button class="close-footer">&times;</button>
    {% for p in pages %}
      {% if p.slug == "footer" %}
          {% if current_lang == DEFAULT_LANG %}
            {{ p.content }}
          {% else %}
          {% for translation in p.translations %}
            {% if translation.lang == current_lang %}
              {{ translation.content }}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </dialog>

  {% block js_body %}

    <script type="text/javascript">
      const modal = document.querySelector("dialog.footer");
      const open_btn = document.querySelector("button.open-footer");
      const close_btn = document.querySelector("button.close-footer");

      open_btn.addEventListener('click', () => {
        modal.showModal();
      });
      close_btn.addEventListener('click', () => {
        modal.close();
      });
    </script>

    <script type="text/javascript">
      if(!window.walk_calendar){
        {# imported from the calendar.yaml using the data_files pelican plugin (see pelicanconf.py) #}
        window.walk_calendar = {{ DATA_CALENDAR|tojson|safe }};
      }
    </script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/moon-utilities.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/moon-watch.js"></script>


  {% endblock %}

</body>

</html>
