{% extends "base.html" %}

{% block html_lang %}{{ page.lang }}{% endblock %}
{% set current_lang = page.lang %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/gallery.css" />
{% endblock %}

{% block title %}{{ super() }} &mdash; {{page.title}}{% endblock title %}

{% block body_class %}gallery{% endblock %}

{% block fixed_content %}
<section class="gallery-section">
  {% for img in GALLERY %}
    <figure class="image">
      <img src="{{ img.src }}" class="image-process-gallery">
      <figcaption class="time"><time datetime="{{ img.time }}" class="mono">{{ img.time }}</time></figcaption>
    </figure>
  {% endfor %}
</section>
{% endblock %}
