{% extends "base.html" %}

{% block html_lang %}{{ page.lang }}{% endblock %}
{% set current_lang = page.lang %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/calendar.css" />
{% endblock %}

{% block title %}{{ super() }} &mdash; {{page.title}}{% endblock title %}

{% block body_class %}calendar{% endblock %}

{% block fixed_content %}

  <section id="about-section" class="data-section" data-box-title="{{ page.multilang.about }}">
    <div class="text-content moon-phased-typo about-box">
      {{ page.sections["intro"] }}
    </div>
    <div class="text-content moon-phased-typo bio-box">
      {{ page.sections["bio"] }}
    </div>
  </section>
  
{% endblock %}
  
{% block scroll_content %}

  {% include 'partials/moon-watch.html' %}

  <section id="calendar-section" class="data-section" data-box-title="{{ page.multilang.calendar }}">
    {% include 'partials/calendar.html' %}
  </section>
{% endblock %}

{% block js_body %}
  {{ super() }}
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/moon-calendar.js"></script>
  <script>

    // test zone for other date
    // first new moon of 2000 according to:
    // https://www.calendar-12.com/moon_phases/2000
    // let now = new Date(Date.parse('06 Jan 2000 19:14:00 GMT+1'));
    // let now = new Date(Date.parse('13 Jan 2000 05:41:00 GMT+1'));
    // let now = new Date(Date.parse('21 Jan 2000 05:41:00 GMT+1'));
    let now = new Date();
    let months_ahead = window.walk_calendar["months_ahead"];
    let month_to_get = now;
    let queue = [];

    $(document).ready(function(){

      createCalendar(months_ahead);
    
      writeTimezone();
    
    });

  </script>
{% endblock %}
