
/* PROJECTS NAVIGATION
 ========================================================================== */

nav.nav-projects ul{
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--lh);

  text-transform: uppercase;
  line-height: 2;
}
nav.nav-projects li.active a{
  border-bottom: none;
}
nav.nav-projects li.active::before{
  content: "[";
}
nav.nav-projects li.active::after{
  content: "]";
}
nav.nav-projects li.active::before,
nav.nav-projects li.active::after{
  /* font-family: 'Inconsolata', monospace;
  font-variation-settings: var(--fvs-mono);
  font-size: var(--fs-mono); */
}

a.margin-anchor{
  --margin: calc(var(--lh) * 6);
  display: block;
  margin-top: calc(-1 * var(--margin));
  height: var(--margin);
}


/* QUOTES
 ========================================================================== */

blockquote{
  padding: calc(var(--lh) * 0.5) calc(var(--lh) * 0.5);
  border: var(--border);

  margin-left: var(--lh);
  position: relative;
}
blockquote:not(:last-of-type){
  margin-bottom: calc(var(--lh) * 2.5);
}
blockquote p:nth-last-child(2){
  margin-bottom: 0;
}
blockquote p:last-of-type{
  position: absolute;
  top: 100%;
  margin: calc(var(--lh) * 0.25) 0;

  font-family: 'Inconsolata', monospace;
  font-variation-settings: var(--fvs-mono);
  font-size: var(--fs-mono);

}
blockquote p:last-of-type::before{
  /* content: ""; */
}



@media only screen and (max-width: 30rem) {
  nav.nav-projects ul > li{
    flex-basis: 100%;
  }

  blockquote{
    margin-left: 0;
  }
}
