
/* FONTS
   ========================================================================== */

@font-face {
  font-family: "unoversoneueGX";
  src: url("../fonts/unoversoneueGX-SLANT.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata[wdth,wght].ttf");
  font-weight: normal;
  /* [wdth,wght] */
}
@font-face {
  /* for moon or astro picto */
  font-family: "Symbola";
  src: url("../fonts/Symbola.otf");
  font-weight: normal;
}
