
.gallery-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
  grid-auto-rows: 200px;
  
  box-sizing: border-box;
  border: var(--border);
  height: calc(100vh - calc(5 * var(--lh)));
  overflow: auto;
  background: var(--clr-soft);
}
.gallery-section > .image{
  position: relative;
}
.gallery-section > .image > img{
  width: 100%;
  height: 100%;
  /* z-index: 2; */

  object-fit: cover;
  object-position: center;
}
.gallery-section > .image > .time{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  pointer-events: none;
}

body.gallery > section.grid-display{
  grid-template-columns: 1fr;
}